<fieldset class="fieldset form-inline">
    <legend class="legend"><span>SDCP Preselect</span></legend>
    <br>
    <div id="table_cataloginventory">
    <?php echo $block->getHtmlPreselectField(); ?>
    </div>
</fieldset>
