<?php /** @var $block \Sz\Simpledetailconfigurable\Block\ConfigurableControl */ ?>
<div class="swatch-opt" data-role="swatch-options"></div>
<script type="text/x-magento-init">
    {
        "[data-role=swatch-options]": {
            "sz_configurable_control": {
                "jsonConfig": <?php /* @escapeNotVerified */ echo $block->getJsonConfig(); ?>,
                "jsonSwatchConfig": <?php /* @escapeNotVerified */echo $block->getJsonSwatchConfig(); ?>,
                "mediaCallback": "<?php /* @escapeNotVerified */ echo $block->getMediaCallback() ?>",
                "onlyMainImg": <?php /* @escapeNotVerified */ echo $block->getVar(
                    'change_only_base_image',
                    'Magento_Swatches'
                ) ?: 'false'; ?>,
                "gallerySwitchStrategy": "<?php /* @escapeNotVerified */ echo $block->getVar(
                    'gallery_switch_strategy',
                    'Magento_ConfigurableProduct') ?: 'replace'; ?>",
                "jsonChildProduct": <?php echo $block->getJsonChildProductData(); ?>,
                "jsonModuleConfig": <?php echo $block->getJsonModuleConfig(); ?>,
                "ajaxUrl": "<?php echo $block->getUrl('sz_sdcp/ajax/detail'); ?>"
            }
        }
    }
</script>
