<?php
/**
 * @category   Sz
 * @package    Sz_Simpledetailconfigurable
 * @author     Sam
 */
// @codingStandardsIgnoreFile
?>
<?php
    $catalogHelper = $this->helper('Magento\Catalog\Helper\Output');
    $moduleHelper = $this->helper('Sz\Simpledetailconfigurable\Helper\ModuleConfig');
    $product = $block->getProduct();
    $additional = $block->getAdditionalData()
?>
<?php if ($additional || ($moduleHelper->isModuleEnable() && $moduleHelper->isShowAdditionalInfo())): ?>
    <div class="additional-attributes-wrapper table-wrapper">
        <table class="data table additional-attributes" id="product-attribute-specs-table">
            <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('More Information') ?></caption>
            <tbody>
            <?php foreach ($additional as $data): ?>
                <tr>
                    <th class="col label" scope="row"><?php echo $block->escapeHtml(__($data['label'])) ?></th>
                    <td class="col data" data-th="<?php echo $block->escapeHtml(__($data['label'])) ?>">
                        <?php echo $catalogHelper->productAttribute($product, $data['value'], $data['code']) ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php endif;?>
